# IntelliJ #
.idea/
*.iml
*.iws
*.class
# Package Files #
*.jar
*.war
*.ear
### Maven ###
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml